@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
  --font-family-primary: "Roboto", serif;
  --text-color-light: rgb(249, 241, 241);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

img {
  width: 100%;
}

a {
  text-decoration: none !important;
}