@import "global.css";

.header {
    background: url("../img/header/header.background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}